/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* Added it by yourself*/
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* general styles */
body {
	background-color: #eff2f8;
	line-height: 1.31;
	min-width: 1440px;
	max-width: 100%;
}
.header {
	background-color: #ffffff;
	color: #131320;
	max-width: 100%;
	box-shadow: 0 4px 4px 0 rgba(79, 88, 178, 0.25);
	margin-bottom: 100px;
}
.logo {
    color: #6a75ca;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	font-family: Helvetica, sans-serif;
	padding: 24px 0 24px 48px;
	text-transform: uppercase;
}
.logo:hover {
    color: ;
	transition: 1s;
}
.nav {
  	display: flex;
	min-height: 100%;
}
.nav-list {
	display: flex;
	padding: 24px 121px;
}
.nav-list li {
	position: relative;
	margin: 0 0 0 44px;
}
.nav-list li a {
	font-size: 16px;
	line-height: 32px;
	font-weight: bold;
	font-family: Helvetica, sans-serif;
	color: #131320;
	border-bottom: 1px solid transparent;
}
.nav-list li a:hover {
	color: #6a75ca;
	transition: 1s;
}
.wrapper {
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	min-height: 100vh;
}
.h1 {
	color: #131320;
	font-family: Helvetica, sans-serif;
	font-size: 54px;
	line-height: 63px;
	font-weight: bold;
	margin-bottom: 100px;
	text-align: center;
}
.container-one{
	display: flex;
	align-self: center;
	margin-bottom: 48px;
	filter: drop-shadow(0 4px 10px rgba(79, 88, 178, 0.25));
}
.border {
	position: relative;
	width: 240px;
	height: 240px;
	background-color: #6a75ca;
	margin-right: 38px;
	border-radius: 10px;
	clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 26%, 74% 0);
	
}
.box {
	position: absolute;
	top: 32px;
	left: 32px;
	bottom: 32px;
	font-family: Courier;
	font-size: 16px;
	line-height: 21px;
	overflow: scroll;
}
.git {
	color: #ffffff;
}
.markup {
	background-color: #ffffff;
	color: #7d868e;
}
.text {
	background-color: #ffffff;
	color: #7d868e;
	margin-right: 0;
}
.container-two {
	display: flex;
    align-self: center;
    margin-bottom: 48px;
	position: relative;
	filter: drop-shadow(0 4px 10px rgba(79, 88, 178, 0.25));
}
.border-fonts {
	position: relative;
	width: 796px;
	height: 240px;
	background-color: #6a75ca;
	clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 92% 0);
	border-radius: 10px;
}
.fonts {
	position: absolute;
	top: 32px;
	left: 32px;
	bottom: 32px;
	color: #ffffff;
	font-family: Courier;
	font-size: 16px;
	line-height: 21px;
	overflow: scroll;
}
.container-three {
	display: flex;
	align-self: center;
    margin-bottom: 48px;
	position: relative;
	width: 796px;
	height: 240px;
	filter: drop-shadow(0 4px 10px rgba(79, 88, 178, 0.25));
}
.border-text {
	position: relative;
	width: 796px;
	height: 240px;
	background-color: #ffffff;
	border-radius: 10px;
	clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 92% 0);
	overflow: scroll;
}
.some-text {
	position: absolute;
	top: 32px;
	left: 32px;
	bottom: 32px;
	color: #7d868e;
	font-family: Courier;
	font-size: 16px;
	line-height: 21px;
}