<!DOCTYPE html>
<html>
    <head>
        <title>mylib</title>
        <meta charset = "utf-8">
        <link rel="stylesheet" type="text/css" href="../components/css/style.css">
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <nav class="nav">
                    <a class="logo" href="../dashboard/index.html">Mylib</a>
                    <ul class="nav-list">
                        <li class="nav-list-item">
                            <a href="../home/index.html">Elements</a>
                        </li>
                        <li class="nav-list-item">
                            <a href="../components/index.html">Components</a>
                        </li>
                        <li class="nav-list-item">
                            <a href="#">Layouts</a>
                        </li>
                        <li class="nav-list-item">
                            <a href="#">Drafts</a>
                        </li>
                        <li class="nav-list-item">
                            <a href="#">Documentation</a>
                        </li>
                    </ul>    
                </nav>   
            </header>
            <main class="main">
                <nav class="sidebar">
                    <ul class="sidebar-list">
                        <li class="sidebar-list-item active">
                            <a href="#">Chevron menu</a>
                        </li>
                        <li class="sidebar-list-item">
                            <a href="#">Dropdown menu</a>
                        </li>
                        <li class="sidebar-list-item">
                            <a href="#">Modal box</a>
                        </li>
                        <li class="sidebar-list-item">
                            <a href="#">Allerts</a>
                        </li>
                    </ul>
                </nav>
                <div class="content">
                    <h2 class="title">Chevron menu</h2>
                   <div class="info">
                <div class="info-icon"><img src="../components/img/info@3x.png" width="24px"></div>
                <div class="info-box">Possible to use on gradient background
Easy to use opacity for items background
Cross-browser</div>
                </div>
     <div class="menu gradient">
         <ul class="menu-list">
                <li class="menu-list-item">
                    <a href="" class="">about</a>
                </li>
                <li class="menu-list-item">
                    <a href="" class="">careers</a>
                </li>
                <li class="menu-list-item">
                    <a href="" class="">faq</a>
                </li>
                <li class="menu-list-item">
                    <a href="" class="">contact</a>
                </li>
            </ul>
        </div>
        <fieldset class="chevron"> 
                    <legend class="chevron-border" align="left">HTML</legend>
                   <div class="chevron-box index">
                    <pre class="chevron-markup">&lt;ul class=”list”&gt;
    &lt;li&gt;&lt;a href=”#”&gt;About&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=”#”&gt;Careers&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=”#”&gt;FAQ&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=”#”&gt;Contact&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</pre>
</div>
</fieldset>
        <fieldset class="chevron"> 
                    <legend class="chevron-border" align="left">CSS</legend>
                   <div class="chevron-box styles">
                    <pre class="chevron-markup">div.menu-body-gradient {
 height: 96px;
 padding: 2px 0;
 background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 127.92%);
}
ul.list-gr {
 margin:0;
 padding: 0 60px;
 text-align: right;
}
ul.list-gr li {
 display: inline-block;
 position: relative;
 padding: 30px 25px 29px 25px;
 margin: 0 20px 0 25px;
 background-color: #ffffff;
 font-family: Helvetica;
 font-style: normal;
 font-weight: normal;
 font-size: 32px;
 line-height: 37px;
}
ul.list-gr li:hover {
 opacity: 0.7;
}
ul.list-gr li::after {
 position: absolute;
 top:0;
 left: 100%;
 content: "";
 width: 0;
 height: 0;
 border-style: solid;
 border-width: 48px 0 48px 25px;
 border-color: transparent transparent transparent #ffffff;
}
ul.list-gr li > a {
 vertical-align: top;
 text-decoration: none;
 color: #000000;
}
ul.list-gr li > a::after {
 position: absolute;
 left: -25px;
 top: 0px;
 content: "";
 width: 0;
 height: 0;
 border-style: solid;
 border-width: 0 25px 48px 0;
 border-color: transparent #ffffff transparent transparent;
}
ul.list-gr li > a::before {
 position: absolute;
 left: -25px;
 top: 48px;content: "";
 width: 0;
 height: 0;
 border-style: solid;
 border-width: 0 0 48px 25px;
 border-color: transparent transparent #ffffff transparent;
}</pre>
</div>
        </fieldset>
                </div>
            </main>
        </div>
    </body>
</html>